<div class="surface-ground flex align-items-center justify-content-center min-w-full min-h-full overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">

    <img src="assets/images/dynamics-365-logo-trans.png" alt="Dynamics 365 Logo" class="mb-5 w-6rem flex-shrink-0">

    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-4 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Welcome {{contact.username}}</div>
          <span class="text-600 font-medium">Please fill in the required fields</span>
        </div>

        <form [formGroup]="registrationForm" (ngSubmit)="submit()">
          <div class="flex flex-column">
            <div class="ui-fluid formgrid grid">
              <div class="field col">
                <label for="firstname" class="block text-900 text-xl font-medium mb-2">First name</label>
                <input id="firstname" formControlName="firstName" type="text" placeholder="First name" pInputText
                  class="w-full md:w-15rem" style="padding:1rem">
                <small id="firstname-help" class="text-red-600 block">
                  {{registrationForm.get('firstName')!.hasError('required') ? 'Firstname is required' :
                  registrationForm.get('firstName')!.hasError('minlength') ? 'The minimum length is two' : ''}}
                </small>
              </div>
              <div class="field col">
                <label for="lastname" class="block text-900 text-xl font-medium mb-2">Last name</label>
                <input id="lastname" formControlName="lastName" type="text" placeholder="Last name" pInputText
                  class="w-full md:w-15rem" style="padding:1rem">
                <small id="lastname-help" class="text-red-600 block">
                  {{registrationForm.get('lastName')!.hasError('required') ? 'Lastname is required' :
                  registrationForm.get('lastName')!.hasError('minlength') ? 'The minimum length is two' : ''}}
                </small>
              </div>
            </div>
            <div class="ui-fluid formgrid grid">
              <div class="field col">
                <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
                <input id="username" formControlName="username" type="text" placeholder="Username" pInputText
                  class="w-full md:w-15rem" style="padding:1rem">
                <small id="username-help" class="text-red-600 block">
                  {{registrationForm.get('username')!.hasError('required') ? 'Username is required' :
                  registrationForm.get('username')!.hasError('minlength') ? 'The minimum length is six' : ''}}
                </small>
              </div>
              <div class="field col">
                <label for="jobTitle" class="block text-900 text-xl font-medium mb-2">Job Title</label>
                <input id="jobTitle" formControlName="jobTitle" type="text" placeholder="Job Title" pInputText
                  class="w-full md:w-15rem mb-1" style="padding:1rem">
                <small id="jobTitle-help" class="text-red-600 block">
                  {{registrationForm.get('jobTitle')!.hasError('required') ? 'Job title is required' :
                  registrationForm.get('jobTitle')!.hasError('minlength') ? 'The minimum length is three' : ''}}
                </small>
              </div>
            </div>
            <label for="gender" class="block text-900 text-xl font-medium mb-2">Gender</label>
            <p-dropdown id="gender" [options]="genderOptions" formControlName="gender"
              optionLabel="label" styleClass="w-full md:w-15rem"></p-dropdown>
            <small id="gender-help" class="text-red-600 block mb-3">
              {{registrationForm.get('gender')!.hasError('required') ? 'Precise your gender please' : ''}}
            </small>

            <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
            <input id="email" value="{{contact.emailaddress1}}" type="text" disabled pInputText class="w-full mb-3"
              style="padding:1rem">

            <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
            <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true"
              styleClass="w-full"
              inputStyleClass="w-full p-3 {{registrationForm.hasError('identityPassword') && registrationForm.getError('identityPassword') !== ''? 'ng-invalid ng-dirty' : ''}}"></p-password>
            <small id="password-help" class="text-red-600 block mb-4">
              {{registrationForm.hasError('identityPassword') ? registrationForm.getError('identityPassword') : ''}}
            </small>
            <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
            <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
              [feedback]="false" [toggleMask]="true" styleClass="w-full"
              inputStyleClass="w-full p-3 {{registrationForm.hasError('passwordMismatch')? 'ng-invalid ng-dirty': ''}}"></p-password>
            <small id="password-help" class="text-red-600 block mb-5">
              {{registrationForm.hasError('passwordMismatch') ? 'Passwords must match' : ''}}
            </small>
            <button pButton pRipple label="Register Now" [loading]="loading" type="submit"
              [disabled]="!registrationForm.valid || loading"
              class="w-full p-3 text-xl {{!registrationForm.valid ? 'cursor-invalid' : ''}}"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>