<form [formGroup]="passwordModificationForm" (ngSubmit)="submit()" class="flex flex-column w-full">
  <label for="previousPassword" class="block text-900 font-medium text-xl mb-2">Previous Password</label>
  <p-password id="previousPassword" formControlName="oldPassword" placeholder="Password" [toggleMask]="true"
    styleClass="mb-5 w-full sm:w-30rem" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
  <label for="newPassword" class="block text-900 font-medium text-xl mb-2">New Password</label>
  <p-password id="newPassword" formControlName="newPassword" placeholder="Password" [toggleMask]="true"
    styleClass="mb-1 w-full sm:w-30rem" inputStyleClass="w-full p-3 md:w-30rem {{passwordModificationForm.hasError('identityPassword') && passwordModificationForm.getError('identityPassword') !== ''? 'ng-invalid ng-dirty' : ''}}"></p-password>
    <small id="password-help" class="text-red-600 block mb-4">
      {{passwordModificationForm.hasError('identityPassword') ? passwordModificationForm.getError('identityPassword') : ''}}
    </small>
  <label for="newPasswordConfirmation" class="block text-900 font-medium text-xl mb-2">Confirm new password</label>
  <p-password id="newPasswordConfirmation" formControlName="newPasswordConfirmation" placeholder="Password"
    [feedback]="false" [toggleMask]="true" styleClass="mb-1 w-full sm:w-30rem"
    inputStyleClass="w-full p-3 md:w-30rem {{passwordModificationForm.hasError('passwordMismatch') ? 'ng-invalid ng-dirty' : ''}}"></p-password>
  <small id="confirm-password-help"
    class="text-red-600 block mb-5">{{passwordModificationForm.hasError('passwordMismatch') ? 'Passwords do not match.' : ''}}</small>

  <div class="w-full flex justify-content-end">
    <button pButton pRipple label="Change password" [loading]="loading" type="submit"
      [disabled]="!passwordModificationForm.valid"
      class="w-full sm:w-15rem p-3 text-xl {{!passwordModificationForm.valid ? 'cursor-invalid' : ''}}"></button>
  </div>
</form>