.box-1 {
    background-color: #d0e1fd;
}
.box-2 {
    background-color: #feddc7;
}
.box-3 {
    background-color: #c3edf5;
}
.box-4 {
    background-color: #ead6fd;
}
.box-title {
    color: #343a40 !important;
}
