<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/images/dynamics-365-logo-trans.png" alt="logo" />
        <span>MD-365 Sales</span>
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button
            *ngIf="displayInstall"
            class="p-link layout-topbar-button add-to-btn"
            (click)="installApp()"
        >
            <i class="pi pi-download"></i>
            <span>Install App</span>
        </button>
        <button
            class="p-link layout-topbar-button add-to-btn"
            (click)="confirmSynchronization()"
        >
            <i class="pi pi-sync"></i>
            <span>Synchronize</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button
            class="p-link layout-topbar-button"
            (click)="signOut()"
            [routerLink]=""
        >
            <i class="pi pi-sign-out"></i>
            <span>Sign out</span>
        </button>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<p-blockUI [blocked]="isSynchronizing">
    <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        animationDuration=".5s"
    ></p-progressSpinner>
</p-blockUI>
